@model List<Product>

@foreach (var item in Model)
{
    <div class="box">
        <a href="">
            <div class="img-box">
                <img src="~/assets/images/@item.ImageUrl" alt="">
            </div>
            <div class="detail-box">
                <h6 class="price">
                    $@item.Price
                </h6>
                <h6>
                    @item.Name
                </h6>
            </div>
        </a>
    </div>
}
