
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> products = Model;
}


<section class="trending_section layout_padding">
    <div id="accordion">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Trending Categories
                            </h2>
                        </div>
                        <div class="tab_container">
                            <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                 aria-controls="collapseOne">
                                <div class="number">
                                    <h5>
                                        01
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Chairs
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                 aria-expanded="false" aria-controls="collapseTwo">
                                <div class="number">
                                    <h5>
                                        02
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Tables
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                                 aria-expanded="false" aria-controls="collapseThree">
                                <div class="number">
                                    <h5>
                                        03
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Bads
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour"
                                 aria-expanded="false" aria-controls="collapseFour">
                                <div class="number">
                                    <h5>
                                        04
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Furnitures
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/assets/images/t-1.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/t-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/assets/images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/t-4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/assets/images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/t-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">

                                <div class="img-box">
                                    <img src="~/assets/images/t-1.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/t-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/assets/images/t-4.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/t-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/assets/images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/t-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseFour" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/assets/images/t-1.jpg" alt="">
                                </div>

                                <div class="img-box">
                                    <img src="~/assets/images/t-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/assets/images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/t-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- end trending section -->
<!-- brand section -->

<section class="brand_section">
    <div class="container">
        <div class="heading_container">
            <h2>
                Furnitures
            </h2>
        </div>
        <div class="brand_container layout_padding2">
            @foreach(var item in products)
            {
                <div class="box">
                    <a href="">

                        <div class="img-box">
                            <img src="~/assets/images/@item.ImageUrl" alt="">
                        </div>
                        <div class="detail-box">
                            <h6 class="price">
                                $@item.Price
                            </h6>
                            <h6>
                                @item.Name
                            </h6>
                        </div>
                    </a>
                </div>
            }
           
        </div>
        <button id="loadMore" class="brand-btn">
            See More
        </button>
    </div>
</section>

<!-- end brand section -->

