
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> products = Model;
}

@* 
<section class="slider_section ">
    <div class="play_btn">
        <a href="">
            <img src="~/assets/images/play.png" alt="">
        </a>
    </div>
    <div class="number_box">
        <div>
            <ol class="carousel-indicators indicator-2">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-box">
                                <h1>
                                    The Latest
                                    <span>
                                        Furniture
                                    </span>
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn-1">
                                        Read More
                                    </a>
                                    <a href="" class="btn-2">
                                        Contact us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 img-container">
                            <div class="img-box">
                                <img src="~/assets/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-box">
                                <h1>
                                    The Latest
                                    <span>
                                        Furniture
                                    </span>
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn-1">
                                        Read More
                                    </a>
                                    <a href="" class="btn-2">
                                        Contact us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 img-container">
                            <div class="img-box">
                                <img src="~/assets/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-box">
                                <h1>
                                    The Latest
                                    <span>
                                        Furniture
                                    </span>
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn-1">
                                        Read More
                                    </a>
                                    <a href="" class="btn-2">
                                        Contact us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 img-container">
                            <div class="img-box">
                                <img src="~/assets/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-box">
                                <h1>
                                    The Latest
                                    <span>
                                        Furniture
                                    </span>
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn-1">
                                        Read More
                                    </a>
                                    <a href="" class="btn-2">
                                        Contact us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 img-container">
                            <div class="img-box">
                                <img src="~/assets/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section --> *@


<section class="trending_section layout_padding">
    <div id="accordion">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Trending Categories
                            </h2>
                        </div>
                        <div class="tab_container">
                            <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                 aria-controls="collapseOne">
                                <div class="number">
                                    <h5>
                                        01
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Furnitures
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                 aria-expanded="false" aria-controls="collapseTwo">
                                <div class="number">
                                    <h5>
                                        02
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Freakier Furnitures
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                                 aria-expanded="false" aria-controls="collapseThree">
                                <div class="number">
                                    <h5>
                                        2x Freakier Furnitures
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        3x Freakier Furnitures
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour"
                                 aria-expanded="false" aria-controls="collapseFour">
                                <div class="number">
                                    <h5>
                                        04
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        4x Freakier Furnitures
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/assets/images/images.jpeg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/istockphoto-104276594-612x612.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/assets/images/museum-of-medieval-torture.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/31d918eb4ed4525c0f470b3656986868.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/assets/images/bssBed.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/jokerDrawer.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">

                                <div class="img-box">
                                    <img src="~/assets/images/feetBed.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/rgChair.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/assets/images/cattenBed.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/mcqueen.jpeg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/assets/images/taxtali.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/oinkArmchair.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseFour" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/assets/images/t-1.jpg" alt="">
                                </div>

                                <div class="img-box">
                                    <img src="~/assets/images/t-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/assets/images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/assets/images/t-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- end trending section -->
<!-- brand section -->

<section class="brand_section">
    <div class="container">
        <div class="heading_container">
            <h2>
                Furnitures
            </h2>
        </div>
        <div class="row" id="productRow">
        <div class="brand_container layout_padding2">
            @foreach(var item in products)
            {
                <div class="box">
                    <a href="">

                        <div class="img-box">
                            <img src="~/assets/images/@item.ImageUrl" alt="">
                        </div>
                        <div class="detail-box">
                            <h6 class="price">
                                $@item.Price
                            </h6>
                            <h6>
                                @item.Name
                            </h6>
                        </div>
                    </a>
                </div>
            }
           
        </div>
        </div>

        <input type="hidden" id="productCount" value="@ViewBag.ProductCount" />

        <button id="loadMore" class="brand-btn"style="margin-bottom:20px">
            See More
        </button>
        
    </div>
</section>
<!-- end brand section -->

