
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> products = Model;
}


<!-- brand section -->
<<section class="brand_section">
    <div class="container">
        <div class="heading_container">
            <h2>
                Furnitures
            </h2>
        </div>
        <div class="row" id="productRow">
            <div class="brand_container layout_padding2">
                @foreach (var item in products)
                {
                    <div class="box">
                        <a href="">

                            <div class="img-box">
                                <img src="~/assets/images/@item.ImageUrl" alt="">
                            </div>
                            <div class="detail-box">
                                <h6 class="price">
                                    $@item.Price
                                </h6>
                                <h6>
                                    @item.Name
                                </h6>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>

        <input type="hidden" id="productCountOnPr" value="@ViewBag.ProductCountOnProducts" />

        <button id="loadMoreOnPr" class="brand-btn">
            See More
        </button>

    </div>
</section>
<script>
    var skip = 4;
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#loadMoreOnPr').addEventListener('click', function () {
            var productCount = parseInt($("#productCountOnPr").val());
            console.log("Total Product Count: ", productCount);
            console.log("Current Skip Value: ", skip);
            $.ajax({
                url: "/product/loadProductsOnProducts?skip=" + skip,
                type: "GET",
                success: function (response) {
                    $("#productRow").append(response);
                    skip += 4;
                    if (skip >= productCount) {
                        $("#loadMoreOnPr").remove();
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error loading products:", error);
                }
            });
        });
    });
</script>

<!-- end brand section -->

